[2017-06-27 14:50] SGromov opened #14 "Invoke-WebRequest : { "statusCode": 404, "message": "Resource not found" }"
Hello!
After successful command  "Add-PCAuthentication -cspappID APP ID -cspDomain FULL DOMAIN -credential $credentials"
Trying to delete a customer from sand box and having error:
PS C:\Windows\system32> $customer = Get-PCCustomer -tenantid Account MS ID
PS C:\Windows\system32> Remove-PCCustomer -tenantid $customer.id
Invoke-RestMethod : { "statusCode": 404, "message": "Resource not found" }
C:\P

[2017-07-13 15:55] asensionacher opened #15 "Get-PCCustomerUsageSummary is not recognized"
When I try to execute Get-PCCustomerUsageSummary, it says that is not recognized after install the module.

[2017-07-13 16:07] PauloRamosGit commented on #15
Hi @asensionacher , thanks for reporting the issue. We just found the problem and will update asap.

[2017-07-14 09:39] PauloRamosGit commented on #15
Solved

[2017-07-14 09:39] #15 closed

[2017-07-14 11:22] asensionacher commented on #15
many thanks

[2017-08-08 11:00] asensionacher opened #18 "Get-PCUsage: More than one page"
Hi,

How to get the other pages when using Get-PCUsage? I mean, get more lines than the first "size" elements?

[2017-08-08 11:54] nogreco commented on #18
Hi, have you tried to specify starttime and endtime or enlarge the 'size' paramenter? This is the referral to the REST API used: https://msdn.microsoft.com/en-us/library/partnercenter/mt791774.aspx and this is the referral to the cmdlet usage: https://github.com/Microsoft/PartnerCenterPowerShellModule/blob/master/CmdletHelp/Get-PCUsage.md

[2017-08-08 12:06] nogreco commented on #14
Hi, sorry for late answer. I tried it and it works on  my side. Can you please try again?

[2017-08-09 02:03] tvldz opened #19 "Get-PCCustomer fails"
When getting a list of all customers in the Partner Center with 'Get-PCCustomer', I receive the following error:

[code]

This command does work correctly when running with optional argument,

`-startswith '<company name>'`

I'll try to look at the underlying code to see how this interacts with the API.

[2017-08-09 02:16] tvldz commented on #19
I figured it out. the `-all` flag returns a proper list.

[2017-08-09 02:16] #19 closed

[2017-08-16 08:08] f-bader opened #21 "Add-PCAuthentication does not support MFA"
If you enforce MFA for your global admins it is not possible to use the "Add-PCAuthentication" cmdlet anymore.
`Add-PCAuthentication -credential $credentials -cspAppID $cspAppId -cspDomain $cspDomain`

Trace ID: 0000000-8d4b-46b0-a11e-0e170c6d0c00
Correlation ID: 0000000-f5f8-49fa-86fa-f63ee89c1cb8
Timestamp: 2017-08-16 07:54:11Z",
"error_codes":[50076],
"timestamp":"2017-08-16 07:54:11Z",
"trace_

[2017-08-16 08:10] #18 closed

[2017-08-16 08:11] #14 closed

[2017-08-16 08:29] SGromov commented on #14
I tried again and :
Remove-PCCustomer -tenantid $customer.id
Invoke-RestMethod : {"code":3000,"description":"Customer has already been deleted from the sandbox integration account","data":[],"source":"PartnerFD"}
C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.9\src\PartnerCenterCustomer.psm1:205 знак:17
+ ... $response = Invoke-RestMethod -Uri $url -Headers $headers -ContentT

[2017-08-18 08:03] CStahlberg opened #22 "Azure Automation: Sequence contains more than one element"
When trying to import this module to my azure Automation Account I get the following error:

`Error importing the module PartnerCenterModule. Import failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: While importing the module, an error occurred while processing the module content. Internal error message: Sequence contains more than one element.`

I tried

[2017-08-22 02:37] hsbsandrecv commented on #14
Even though this is not a PC SDK forum, this is the exact same behavior that I get from PC SDK Sample 1.5.0
Deleting customer.

Partner Exception:
Error Category: NotFound
Service Error Payload:
Error code: 3000
Error message: Customer has already been deleted from the sandbox integration account
Error data:

[2017-08-22 08:56] PauloRamosGit commented on #14
I had this error in the past also when using the PC API directly. You need to open a support case to solve it.

[2017-08-22 08:58] PauloRamosGit commented on #22
Can you check if you have any PartnerCenterModule folder under C:\Program Files\WindowsPowerShell\Modules?
If yes, please delete the PartnerCenterModule folder and import it again.

[2017-08-22 09:14] CStahlberg commented on #22
Hi Paulo,

I am not sure I understand what you mean because I am trying to add it to an Azure Automation account so that I can run reporting in a job. The azure Portal does not use my local drive as far as I know
![moduleimport](https://user-images.githubusercontent.com/24523191/29557925-d8009772-872a-11e7-93c3-0371fa53df04.JPG)
![importmodulefailure](https://user-images.githubusercontent.com/2452

[2017-08-22 10:45] PauloRamosGit commented on #22
Hi @CStahlberg , I was completely outside of the point. Sorry about that.

We'll take a look and try to find a solution for this error

[2017-09-08 10:38] InterceptBV commented on #22
Hello Paulo,

I was wondering if you have an update regarding this issue? We are also trying to add this module to an Azure Automation account and receive the exact same error message;

We tried to import the module from the marketplace and via the upload option. Both result in the following error message;
Error importing the module PartnerCenterModule. Import failed with the following error: Orch

[2017-09-11 11:42] nogreco commented on #22
Hi, I'm working on this issue. I'll post the update asap.

[2017-09-11 12:58] nogreco commented on #22
hi, as promised, I've released version 0.9.0.10. With this new version you're able to import the module in Azure Automation Account:
<img width="1016" alt="pcmod" src="https://user-images.githubusercontent.com/16100184/30275453-abf4400c-9701-11e7-9698-569dca9eefbf.png">

[2017-09-11 12:58] #22 closed

[2017-09-11 13:11] InterceptBV commented on #22
Thank you for the quick response, the problem has been resolved!

[2017-09-11 14:04] nogreco commented on #21
Have you tried to use cspClientSecret instead?
Add-PCAuthentication -cspAppID <xxxx> -cspDomain <xxx>.onmicrosoft.com -cspClientSecret <securestring>

[2017-10-25 23:55] SattaRavi opened #26 "New-PCOrder - Creation of order fails"
unable to create order. Undefined OrderLineItem.

https://msdn.microsoft.com/en-us/library/partnercenter/mt634667.aspx

i guess the class OrderLineItem is not getting resolved properly

https://github.com/Microsoft/PartnerCenterPowerShellModule/blob/fb5edd81c2ceae0dd2461424f208e45cbe261460/PartnerCenterModule/PartnerCenterModule.psm1

[2017-11-02 17:12] hulta82 commented on #26
Had the same problem. To get the class OrderLineItem to be exported I had to run
`using module PartnerCenterModule`

[2017-11-08 13:08] JuanFaustino opened #29 "Get-PCInvoice -all doesn't work after Add-PCAuthentication execute with sucess"
After run Add-PCAuthentication with success, I try Get-PCInvoice -all and I get following error:
Method invocation failed because [System.Management.Automation.PSCustomObject] does not contain a method named 'Substring'.
At C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.9\src\PartnerCenterInvoice.psm1:58 char:9
+         $obj += $response.Substring(1) | ConvertFrom-Json
+

[2017-11-13 08:04] qbihay commented on #29
Same issue. I edit the psm1 file to add the debug and verbose param.

VERBOSE: GET https://api.partnercenter.microsoft.com/v1/invoices/summary with 0-byte payload
VERBOSE: received 1034-byte response of content type application/json; charset=utf-8
Method invocation failed because [System.Management.Automation.PSCustomObject] does not contain a method named 'Substring'.

At C:\Program Files\Windows

[2017-11-14 07:42] MWL88 opened #30 "Incorrect module version message"
I am using version 0.9.0.10 of the Partner Center PowerShell modules. When I execute the Add-PCAuthentication function I see the message 'A new Partner Center PowerShell Module version (0.9.0.9) is available' which is incorrect as I am using a newer version.

This message is produced by the Update-ModuleTelemetry function based on version information obtained from the module and compared against d

[2017-11-14 09:48] qbihay commented on #29
@JuanFaustino , you can edit the PartnerCenterInvoice.psm1 like that
   function Private:Get-AllInvoicesInner($satoken)
    {
        $obj = @()
        $url = "https://api.partnercenter.microsoft.com/v1/invoices"
        $headers = @{Authorization="Bearer $satoken"}

        $response = Invoke-RestMethod -Uri $url -Headers $headers -ContentType "application/json" -Method "GET" #-Debug -Verbose

[2017-11-14 09:59] MWL88 commented on #18
I too have encountered this issue.

Specifying a larger value for the ‘size’ parameter allows you to retrieve up to 1000 items. Specifying a narrow date range does provide a way of working around the issue but it is not a solution to the issue, especially when retrieving usage data for a busy subscription with many thousands of usage records.

The REST API documentation, at the link provided by @n

[2017-11-15 16:37] JuanFaustino commented on #29
qbihay, well done. It works for me too.

[2017-11-15 16:37] #29 closed

[2017-11-24 00:29] yoshimasak opened #34 "Can't get tue resourceUri when using Get-PCUsage"
Can we get the “instanceData” property ,which the resourceUri information includes, using the Get-PCUsage cmdlt ?

When we use the utilization API (REST API), we can get it.

Get a customer's utilization records for Azure
https://msdn.microsoft.com/en-us/library/partnercenter/mt791774.aspx

However, when we use Get-PCUsage cmdlt, the "instanceData" property is lacking.

[2017-11-29 17:04] allanzh opened #35 "Define Billing Cycle"
How can I define the Billing Cycle to an order using PowerShell Module ?

[2017-12-07 15:22] PauloRamosGit commented on #35
Hi @allanzh , that feature is still not implemented. We encourage the community to submit that update

[2017-12-07 17:11] allanzh commented on #35
Hi @PauloRamosGit .
I'm gonna use Partner Center C# API to make things work here.
Thanks.

[2017-12-07 17:11] #35 closed

[2017-12-20 22:49] toddysm opened #37 "MFA Authentication doesn't work"
Trying to use the PS Module to fetch information about Partner Center users fails:

[code]

My assumption is that this module doesn't support MFA and my account has MFA enforced or the documentation is not clear how to use the module. The `-satoken` parameter error is quite confusing.

Any suggestions what to do to resolve those.

[2017-12-20 22:58] toddysm commented on #37
Changed the title to be more clear what the issue is. Here is the error when authenticating:
[code]

[2017-12-22 19:38] toddysm commented on #21
@nogreco How do we obtain the -cspClientSecret - native apps do not have a secret in Azure AD. What secret should we use?

[2017-12-22 22:42] toddysm commented on #37
This can be worked around as suggested in #21 using AppID and App Secret, however, there was a bug that should be fixed once PR #38 is integrated

[2017-12-22 22:42] #37 closed

[2017-12-22 22:44] toddysm commented on #21
@nogreco and @f-bader There was a bug with App ID and App Secret for which I submitted PR #38. In addition, the documentation is confusing saying that you require native app but it should be web app. Tested the fix and it works.

[2018-01-19 12:20] PauloRamosGit commented on #30
solved!

[2018-01-19 12:20] #30 closed

[2018-01-24 01:27] ManuInNZ opened #40 "Does not seem to pickup all users of a given customer"
# Get all customer users
$users = Get-PCCustomerUser -tenantid $customer.id -all

$users | ? { $_.lastName -contains 'theta'}
--> Returns nothing although 2 users exist.
![2018-01-24 14_22_50-microsoft edge](https://user-images.githubusercontent.com/7937408/35309609-3d29671c-0112-11e8-85fb-687a2da40560.png)

using latest to date
Get-InstalledModule -Name PartnerCenterModule

Version    Name

[2018-01-24 10:47] PauloRamosGit commented on #40
Hi @ManuInNZ ,
Can you try $users | ? { $_.lastName -Like '*theta*'}

[2018-01-24 14:09] ManuInNZ commented on #40
I have checked manually the list using out-gridview and I can confirm the
users are present in the array of users.

Cheers
Manu

On 24/01/2018 23:47, "Paulo Ramos" <notifications@github.com> wrote:

[2018-02-04 19:01] dennings opened #41 "No Paging with Get-PCInvoiceLineItems"
With that cmd-let i can just grab the first 2000 lines of items, because there is no paging ;(

i take that command:
Get-PCInvoiceLineItems -invoiceid $lastinvioce.id -billingprovider Azure -invoicelineitemtype UsageLineItems -size 2000

Can someone implement paging like in PCUsage2 ????

[2018-02-06 11:56] dennings commented on #41
i have the Solution here, can please someone check that in?

--
function Get-PCInvoiceLineItems
{
  [CmdletBinding()]

  Param(
    [Parameter(Mandatory = $true)][String]$invoiceid,
    [Parameter(Mandatory = $true)][ValidateSet("Azure","Office")][string]$billingprovider,
    [Parameter(Mandatory = $true)][ValidateSet("BillingLineItems","UsageLineItems")][string]$invoicelineitemtype,
    [Paramete

[2018-02-08 15:11] dennings opened #42 "Get Invoice by ID not working"
Hi,
i do the following to retrieve the PDF download link:
Get-PCInvoice -invoiceid D030001QMU -Verbose

OUTPUT:
VERBOSE: GET https://api.partnercenter.microsoft.com/v1/invoices/D030001QMU with 0
-byte payload
Invoke-RestMethod : The remote server returned an error: (403) Forbidden.
At C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.15\Partne
rCenterInvoice.psm1:46 char:21

but

[2018-02-08 15:19] PauloRamosGit commented on #41
Thank you @dennings . Code included on PR #43

[2018-02-08 15:19] #41 closed

[2018-02-09 10:17] dennings opened #44 "Cannot login to PartnerCenter for German Cloud ;("
Cannot login to PartnerCenter for German Cloud ;(

Can someone implement that? Please!

[2018-02-13 17:13] cpatel27 opened #45 "Please provide functionality to create Native Application ID for CSP account"
As part of an automation workflow, we would like to setup a third party application. This requires us to create a Native Application ID programmatically via PowerShell. We could not find a way to this with the PartnerCenterPowerShell Module.

[2018-02-20 14:08] apearcebfc opened #46 "View Service Requests in new Service Request Feature in Portal"
I have two tenants that are both CSP/Admin.

When i log a service request one is done using the new method (side window in the customers Office Portal).  The other is done the old way.

When using get-pscr, for the old tenant i see the service request however when i use it for the other tenant (with the correct tenant ID), i dont see them.  Is there a reason why?

Thanks

Alex

[2018-02-20 15:25] apearcebfc opened #47 "new-pcsr - Can you create a service request in a customers tenant?"
I need to be able to submit a request into the customer tenant.  I'm almost expecting a new-pcsr -tenantID but i dont see anything.  anything you can help with?

thanks

A.

[2018-02-20 16:56] JimBobUKII opened #48 "Web app / API required permissions issue"
I thought I would do a little testing to see if I could get the reports in needed but came across some issues, its more than likely my set up but here we go
Testing against PC Sandbox

[code]

First tests work no problem
[code]

if i try the following command, I get an error

[code]

There are other commands that I cannot use too so I guess this is a permission for web app / api?

Could some one t

[2018-02-21 02:39] Popsikill opened #49 "Get-PCSubscription: offer ID is empty/null"
Strangely - sometimes when we use this command Offer ID is sometimes null - is this normal?
Would you ever get a subscription that didn't have an offer applied?

[2018-03-06 08:33] nvschaik opened #50 "New-PCOrder returns an error"
My Azure Automation runbook for provisioning customers and subscriptions now returns an error:

[code]
I am able to create an Azure subscription on the Partner Center website, as well as by using Invoke-RestMethod directly from PowerShell.

[2018-03-06 10:19] JimBobUKII commented on #48
Anyone?

[2018-03-06 11:19] cblackuk commented on #50
Having the exact same problem and it was working on Wednesday 28th of Feb...

[2018-03-06 13:12] cblackuk commented on #50
After troubleshooting for a few hours I found a proper fix:
https://github.com/Microsoft/PartnerCenterPowerShellModule/pull/51

[2018-03-06 23:11] PauloRamosGit commented on #50
Thank you @cblackuk . I merged the pull request with the code change

[2018-03-06 23:11] #50 closed

[2018-03-07 00:27] cblackuk commented on #50
Thanks a lot for such a quick turnaround on this, really appreciate @PauloRamosGit

[2018-03-07 17:20] wgbartley opened #52 "The identity of the calling application could not be established"
Hello!

I am trying to use `Get-PCCustomer -all` but am receiving errors.  My script is:

[code]

The `...` are populated with values from the Partner Center web app and/or native app registrations.

When I try to run the script with the native app authentication line un-commented, I see:
[code]

And when I try using web app authentication, I see:

[code]

I have created the native app registratio

[2018-03-07 19:00] cblackuk commented on #52
Hi @wgbartley
Not sure what your particular problem is but your module is outdated so I would suggest you try this:
PS C:\> Get-Module -Name "PartnerCenterModule"
PS C:\> Install-Module PartnerCenterModule
WARNING: Version '0.9.0.16' of module 'PartnerCenterModule' is already installed at 'C:\Program
Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.16'. To install version '0.9.0.17', run

[2018-03-07 19:24] wgbartley commented on #52
@cblackuk - It looks like I forgot to restart PowerShell ISE when I updated the module in a separate PowerShell console.  The good news is that it's definitely using `0.9.0.17` now  :-).  The bad news is the error messages are still the same :-(.

[2018-03-07 19:38] cblackuk commented on #52
@wgbartley I cannot test this particular cmdlet at the moment, might try tomorrow from work but first error looks like Authentication issue as 403 the second one; however, looks like something is wrong in the PartnerCenterCustomer.psm1:36 char:21 which is not something I was looking at... so it would require debugging again ;-(

[2018-03-07 20:42] PauloRamosGit commented on #52
$clientSecret = 'webapp secret'
$clientSecretSecure = $clientSecret | ConvertTo-SecureString -AsPlainText -Force
Add-PCAuthentication -cspDomain 'mydomain.onmicrosoft.com' -cspAppID 'webapp id' -cspClientSecret $clientSecretSecure

$customer = Get-PCCustomer -all | Out-GridView -PassThru

I've just tried on my env and it worked without issues. Can you double check appid and appsecret, or create a

[2018-03-07 21:01] wgbartley commented on #52
@PauloRamosGit - Thanks for looking into this!

I tried generating a new web app keys (a 1-year key and a 2-year key) with the same results:

[code]

I noticed that your sample `cspDomain` is `mydomain.onmicrosoft.com`.  Should my domain also end in `onmicrosoft.com`?  I've copied+pasted the domain from the Partner Center web app registration for `cspDomain`.  I have tried our `onmicrosoft.com` do

[2018-03-07 22:03] PauloRamosGit commented on #52
Found the reason for your problem @wgbartley

Go to the User management on Partner Center, select the user you are using on the script, enable Assists your customers as: Admin Agent.

[2018-03-07 23:02] wgbartley commented on #52
@PauloRamosGit - I made the admin agent change and waited about 45 minutes, but I am still getting the same error.

[2018-03-07 23:37] PauloRamosGit commented on #52
If:
. You are using Native App Id
. Right domain name
. Right username and password
. User have the right permissions
. You are using NativeApp Id + Credentials authentication
i don't see why you are getting this error

[2018-03-09 15:07] wgbartley commented on #52
Just an update that I spoke with Partner Center support yesterday.  They weren't able to find any issues with the account, but they also weren't able to support the Power Shell module either.  Back to the drawing board!

[2018-03-19 21:10] MortenRei commented on #48
I have the exact same issue.

Invoke-RestMethod : The remote server returned an error: (403) Forbidden.
At C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.17\PartnerCenterProfiles.psm1:351 char:17
+ ... $response = Invoke-RestMethod -Uri $url -Headers $headers -ContentTyp ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2018-03-19 21:27] PauloRamosGit commented on #48
Hi @JimBobUKII and @MortenRei ,
There is a large number of methods that can only be called using NativeAppId+User+Pass. This is a PartnerCenterAPI requirement, not something we enforce on powershell module side.

$credential = Get-Credential

Add-PCAuthentication -cspappID '<native app id GUID>' -cspDomain '<csp partner domain>' -credential $credential

[2018-03-19 21:29] PauloRamosGit commented on #47
Hi @apearcebfc ,
This powershell module supports only what is provided by PartnerCenterAPI. What specific request are you searching for?

[2018-03-19 21:33] PauloRamosGit commented on #52
If you are creating keys, that means you are creating a Web App.

Please create a Native App and use NativeApp Id + Credentials authentication

[2018-03-19 21:33] apearcebfc commented on #47
Hey @PauloRamosGit  Thanks for the reply.  We want to be able to have calls logged in our system because of CSP but then when we need to escalate to MS, we can easily do that by clicking a button so we can put it in a queue and then upload via powershell or via the API.  Don't care how, just want a better automation system :-)

[2018-03-19 21:43] PauloRamosGit commented on #47
PartnerCenter API supports only open Partner Center support tickets (https://docs.microsoft.com/en-us/partner-center/develop/create-a-service-request-)
I think you need to refer to specific O365 or Azure APIs to make specific service support requests.

[2018-03-19 21:44] apearcebfc commented on #47
Understand what you are saying but at the moment you have to go through the Partner Centre to go into the customer tenant to log a call so I feel it should be part of that API :-)

[2018-03-23 11:28] gsee2000 opened #53 "Error validating credentials - Cannot retrieve the token: The remote server returned an error: (401) Unauthorized."
Today ran

Install-Module -Name PartnerCenterModule

Step 1
App management already setup

Step 2

$credentials = Get-Credential 'username@domain.onmicrosoft.com'
Add-PCAuthentication -cspappID 'portal-generated-guid-entered' -cspDomain 'domain.onmicrosoft.com' -credential $credentials

Receiving the following:

Invoke-RestMethod : {"error":"invalid_grant","error_description":"AADSTS70002: Error va

[2018-03-24 17:02] PauloRamosGit commented on #53
Hi @gsee2000 , just tested on my side. Both authentication types are working for me.

[2018-03-24 17:03] PauloRamosGit commented on #52
Hi @wgbartley , have you solved the problem?

[2018-03-24 17:03] #48 closed

[2018-03-24 17:04] #47 closed

[2018-03-24 17:48] #40 closed

[2018-03-24 17:49] #21 closed

[2018-03-24 23:54] wgbartley commented on #52
I am still experiencing the problem with the PowerShell module.  However, I went ahead and used the C# SDK and was able to get the data I was after.

Even though I'm using the same username and password for the C# SDK, I still get the `"The identity of the calling application could not be established."` error with the PowerShell module using the web app credentials.

The one thing I haven't tried

[2018-03-26 08:06] gsee2000 commented on #53
Due to incorrect user. Although the azure global admin of the same domain has full admin rights over the CSP, and is able to authenticate into the web UI and administer CSP activities, this was unable to authenticate via powershell. Changed to the CSP admin user and was able to login. Please close.

[2018-03-29 12:19] MortenRei commented on #48
I actually found the fault for this error, and it's almost unbelievable..
Try to set a much easier password on the account your authenticating with, and don't use any special chars to begin with. See if that does solve your problem. If yes, experiment with creating more robust passwords.

[2018-04-17 14:01] bdzeeuw opened #54 "Get-PCManagedServices / Get-PCCustomerBillingProfile throws a 403 forbidden error"
I'm using the PowerShell Module to pull (and modify) data from the Azure CSP Portal. I'm able to to authenticate successfully, using the Add-PCAuthentication cmdlets.  I'm able to retrieve a list of customers, add new customers and subscriptions. However when running commands like Get-PCManagedServices / Get-PCCustomerBillingProfile, I get the following error:

$customer = Get-PCCustomer -tenantid

[2018-04-17 18:14] johandehaan commented on #54
I had exactly the same problem. I created a Web App and tried to authenticate with a user with MFA enabled. Did not work. When I used the Native App and an Office 365 Only User (a not-dirsynced user) I could authenticate and retrieve the information. Does this help you?

[2018-04-17 18:45] bdzeeuw commented on #54
Hi Johan,

That did the trick. Authenticating using the user authentication, rather than the app authentication. I'm now able to run the above mentioned cmdlets (and others). Thnx!

[2018-04-18 00:33] PauloRamosGit commented on #54
Thank you @johandehaan

[2018-04-18 00:33] #54 closed

[2018-04-30 02:41] kevinmay opened #55 "Error to run Get-PCAuditRecords"
Error to run Get-PCAuditRecords

Ex: Get-PCAuditRecords -startDate '2018-03-01' -endDate '2018-03-31'

方法引動過程失敗，因為 [System.Management.Automation.PSCustomObject] 未包含名為 'Substring' 的方法。
位於 C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.17\PartnerCenterPartner.psm1:42 字元:5
+     $obj += $response.Substring(1) | ConvertFrom-Json
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-04-30 12:35] PauloRamosGit commented on #55
Thank for reporting the error @kevinmay . I've just updated the code and the module on PSGallery

[2018-04-30 12:35] #55 closed

[2018-05-02 11:21] ehrnst opened #56 "Remove-PCCustomer "startIndex cannot be larger than length of string""
Hi,

Trying to remove customers/tenants from the sandbox using "remove-PcCustomer -tenantId <guid>" I get the following error

`Exception calling "Substring" with "1" argument(s): "startIndex cannot be larger than length of string.
Parameter name: startIndex"
At C:\Program Files\WindowsPowerShell\Modules\PartnerCenterModule\0.9.0.17\PartnerCenterCustomer.psm1:206 char:5
+     $obj += $response.Sub

[2018-05-03 10:03] ehrnst commented on #56
I believe the issue is on this line https://github.com/Microsoft/PartnerCenterPowerShellModule/blob/f7208ceac615deee0ab4c2d3e0dcc304bf3cde95/PartnerCenterModule/PartnerCenterCustomer.psm1#L205

As the API it self does not return any response, hence the variable is blank

[2018-05-04 15:25] PauloRamosGit commented on #56
Thanks for reporting @ehrnst . Updated the code accordingly to avoid the error but still returning the response exception

[2018-05-04 15:25] #56 closed

[2018-05-07 10:12] #53 closed

[2018-05-15 16:38] joelst commented on #42
I have not been able to repro this issue. Were you able to figure out what was happening?

[2018-05-15 16:55] joelst commented on #34
This does appear in the latest version for most of the resources. Is there a specific resource type that you aren't seeing show up?

[2018-05-16 04:07] isaiahwilliams commented on #52
Hi @wgbartley this error typically an indentication that the application you are using does not have a service principal. If you are still experincing this error I would recommend unregistering the application through Partner Center and then registering it again. Please let us know if you have any issues, and I will be glad to help!

[2018-05-16 04:16] isaiahwilliams commented on #49
Hi @Popsikill, this command should always return the offer identifier. There have been a handful of update since this issue has been opened. Can you confirm you are still encountering this inconsistent behavior?

[2018-05-16 04:23] isaiahwilliams commented on #44
Hi @dennings, thank you for opening this issue. With the current design the module does not support the sovereign clouds. Right now we are in the process of planning changes that will make it work with US Government, Germany, and China. I will this issue open until we have implemented the appropriate changes.

[2018-05-16 04:26] isaiahwilliams commented on #46
Hi @Alex, there have been a number of update to Partner Center and this module. Can you confirm that you are still encountering this issue?

[2018-05-16 04:30] isaiahwilliams commented on #45
Hi @cpatel27, you can utilize the Azure Active Directory PowerShell module to create an application. If you are interested you can find complete details [here](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplication?view=azureadps-2.0). Right now there are no plans to introduce this functionality into this module. I would like to encourage you to utilize the Azure AD modu

[2018-05-16 04:30] #45 closed

[2018-05-18 13:55] isaiahwilliams commented on #52
Hi @wgbartley, I am going to close this issue. If you are still encountering this issue please free to reopen it or create a new issue.

[2018-05-18 13:55] #52 closed

[2018-05-18 13:56] isaiahwilliams commented on #34
Hi @yoshimasak, I am going to close this issue due to inactivity. Please feel free to reopen it or create new issue if you need any help.

[2018-05-18 13:56] #34 closed

[2018-05-22 21:59] tasgray opened #60 "Get a list of products"
Hey Team,

Would it be possible to include this method in the module? - https://docs.microsoft.com/en-us/partner-center/develop/get-a-list-of-products

[2018-05-24 21:52] joelst commented on #42
@dennings You were probably using App authentication. You must use App+User authentication for Invoice and User tasks. We will add checking for this in a future release.

[2018-06-18 13:29] isaiahwilliams commented on #49
Hi @Popsikill, please feel free to reopen the close if you are still having issues.

[2018-06-18 13:29] #49 closed

[2018-06-18 13:30] isaiahwilliams commented on #42
Hi @dennings please free to reopen this issue if you are still having issues.

[2018-06-18 13:30] #42 closed

[2018-06-18 13:30] isaiahwilliams commented on #46
Hi @apearcebfc please feel free to reopen this issue if you are still having issues.

[2018-06-18 13:30] #46 closed

[2018-06-18 13:32] isaiahwilliams commented on #60
@tasgray we are currently working on a long term plan for this module. Thank you for bring this feedback to our attention, we will ensure that this request is incorporated into our plans. Are you looking to utilize this module to purchase Reserved Instances?

[2018-06-19 14:19] tasgray commented on #60
@isaiahwilliams my pleasure. I am not looking to purchase Reserved Instances at this point in time.

[2018-06-21 04:26] CStahlberg opened #65 "Regions missing from Validation for Get-PCAzureRateCard"
# Steps to reproduce
`$RateCard = Get-PCAzureRateCard -currency 'EUR' -Region 'DE'`

## Expected behavior
This should give you the ratecard for the currency of euro, which it did just fine befor you added validation in version 0.10.0.0.

## Actual behavior

`Get-PCAzureRateCard : Cannot validate argument on parameter 'Currency'. The argument "EUR" does not match the
"^(NOK|SZL|SEK|CHF|CHE|CHW|SYP|

[2018-06-22 13:04] cblackuk opened #66 "Get-PCOffer does not have GB in countryid so we cannot provision anyone"
# Steps to reproduce
[code]

## Expected behavior
Should list Offers in GB

## Actual behavior
[code]

Additionally, we cannot bypass it by doing US for example as:

[code]

[2018-06-22 14:31] isaiahwilliams commented on #65
Hi @CStahlberg, thank you for bringing this issue to our attention. We are going to investigate and review the PR that you submitted.

[2018-06-22 16:43] joelst commented on #66
Change merged.

[2018-06-22 17:39] #66 closed

[2018-06-22 17:40] #65 closed

[2018-06-23 22:38] joelst commented on #60
This basic functionality was introduced in 0.10.0.2.

Please try it out and give feedback. As @isaiahwilliams mentioned, we have a longer term plan to add other functionality into an upcoming release of the module. Feedback like this helps us to prioritize, so thank you for taking the time to post the request.

[2018-06-23 22:38] #60 closed

[2018-06-26 19:13] cblackuk opened #70 "Ability to Remove Re-seller Relationship"
# Feature Request

**Is your feature request related to a problem? Please describe.**
We are trying to automate Offboarding of a customer and there is no End to End process as we cannot remove Reseller relationship. It is available via API but not cmdlet has been written.

Link to API -> https://docs.microsoft.com/en-us/partner-center/develop/remove-a-reseller-relationship-with-a-customer

**Descr

[2018-06-26 20:16] joelst commented on #70
Fixed in #71

[2018-06-26 20:16] #70 closed

[2018-06-29 11:53] slavizh opened #72 "Get-PCCustomer requires -StartsWith when parameter -ResultSize is provided"
# Steps to reproduce

[code]
## Expected behavior

Get-PCCustomer with -ResultSize should not require the use of -StartsWith parameter

## Actual behavior

Get-PCCustomer with -ResultSize requires the use of -StartsWith parameter as well

## Diagnostic logs

No need. Issue is easy reproducible.

## Environment

[code]

[2018-06-29 12:42] slavizh opened #73 "Get-PCSubscription requires -PartnerId parameter when -ResultSize is specified"
# Steps to reproduce

[code]

## Expected behavior

PartnerId should not be required when parameter  -ResultSize is specified.

## Actual behavior

PartnerId is required when parameter  -ResultSize is specifie

## Diagnostic logs

No. need
## Environment

[code]

[2018-06-29 13:25] slavizh opened #74 "Where is Get-PCUsage2"
# Steps to reproduce

Get-PCUsage2 seems to be gone. Why it was removed and what cmdlet we should use to get the full usage data for a period? There is not continuation link in Get-PCUsage

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2018-06-29 14:11] isaiahwilliams commented on #74
Hi @slavizh, the Get-PCUsage cmdlet has been modified so the continuation link is no longer necessary. The maximum number of records the API will return for this operation is 1000. So, we have implemented the appropriate logic to handle the request for additional records if 1000 entries is returned in a single call to the API. Are you finding that some records are missing?

[2018-06-29 21:45] joelst commented on #73
A fix for this has been checked in. Please verify that it fixes your reported problem and reopen if needed.

[2018-06-29 21:45] #73 closed

[2018-06-29 21:46] joelst commented on #72
A fix for this has been checked in. Please test and reopen the issue, if it has not been resolved to your satisfaction.

[2018-06-29 21:46] #72 closed

[2018-07-02 05:58] slavizh commented on #74
@isaiahwilliams  @joelst The examples and help files are not quite clear. You have -ResultSize parameter. If I am getting all the results why there is -ResultSize parameter. I want to get all the usage data without having to specify specific number in  -ResultSize or having to do something crazy like  -ResultSize 10000000 . When changes are made it is good to actually document those. Look at how A

[2018-07-02 06:02] slavizh commented on #72
@joelst Can you specify in which version these are fixed or they will be fixed. It is hard to follow the changes of this module without proper releases like AzureRM.

[2018-07-02 06:02] slavizh commented on #73
@joelst Can you specify in which version these are fixed or they will be fixed. It is hard to follow the changes of this module without proper releases like AzureRM.

[2018-07-02 14:50] joelst commented on #73
It is fixed as of 0.10.0.3.

[2018-07-02 15:23] joelst commented on #74
We appreciate the feedback you have provided, we rely heavily on the community to identify issues and to submit fixes and enhancements. We understand that changes break existing scripts and implementations and we know that can be frustrating (we have been on both sides of this).

As part of our plan to get this from a pre-release (0.x) module to a 1.x release (and eventually a 2.x), we are standar

[2018-07-03 06:13] slavizh commented on #74
Ok. But back on the issue. So how this cmdlet (Get-PCUsage) is now used. Do I need to use -ResultSize or it will automatically get all possible records for the time period without me specifying that parameter. Because the documentation is not updated properly (still referring to all things) I need to know how this cmdlet works without having to investigate the code.

[2018-07-10 18:34] #74 closed

[2018-07-12 08:49] InterceptBV opened #78 "PartnerCenterModule.psm1 contains breaking typo in class CustomerUserPasswordProfile"
# Steps to reproduce

In the latest version (0.10.0.3), this class contains a typo at line 195 ad 196 which causes "New-PCCustomerUser" to not create new users:

[]
class CustomerUserPasswordProfile

{

    [string] $password

    [bool] $forceChangePassword

    CustomerUserPasswordProfile ([SecureString] $password,[bool]$forceChangePassword)

    {

        $this.password = _

        String -st

[2018-07-12 09:02] InterceptBV commented on #78
When I change the line back to this, the module works again:
$this.password = _unsecureString -string $password

[2018-07-12 09:08] FrodeOA opened #79 "PartnerCenterUsage.psm Get-PCUsage contains a logic error which makes it loop forever"
# Steps to reproduce

Start getting usage with a tenant with a subscription with more than 1000 items, it will loop forever

## Expected behavior
I'd expect it to terminate after getting all the results

## Actual behavior

It loops and retrieves the first 1000 elements because a value reference is not updated

[2018-07-12 13:30] isaiahwilliams commented on #78
Hi @InterceptBV,

This is a good catch I am working to correct the issue. After some regression testing I will publish a updated version of the module.

[2018-07-12 14:20] #79 closed

[2018-07-12 14:43] isaiahwilliams commented on #78
I have addressed this issue with PR #81. Thank you for bring it to my attention.

[2018-07-12 14:43] #78 closed

[2018-07-12 14:45] InterceptBV commented on #78
Hello Isaiah,

Thank you for the quick response and resolving the issue.

Kind regards,

Rinie Huijgen
CTO
Intercept
Zwolle, Zwartewaterallee 25, 8032 DZ, Tel: 038-7779 820
Email: rhuijgen@intercept.nl<mailto:rhuijgen@intercept.nl> Internet: www.intercept.nl<http://www.intercept.nl/>
Mobiel: +31 (0)6-24 997766

[cid:image002.png@01D3BB0B.878103D0]

Van: Isaiah Williams <notifications@github.com>
V

[2018-07-25 19:04] PowellDean opened #82 "New-PCCustomer returns "A property has invalid data""
Hi:

Following the example from the source code itself, we have the following code:

[code]

Return code from Invoke-RestMethod method is:

Invoke-RestMethod : {"code":27002,"description":"A property has invalid data.","data":["property_name:  StateInvalid - Details","details:
"],"source":"PartnerFD"}

State given is 'WA' which is a valid code and the Zip Code is a correct one for that city and st

[2018-07-25 19:38] isaiahwilliams commented on #82
Hi Dean,

If your remove -Region 'NA' it should work. When working with addresses in the US the region parameter shoild not be used. I will add an item to our backlog to incorporate the appropriate log to provide a more meaningful error when this happens. Please let me know if you have any other issue.

Isaiah Williams

________________________________
From: Dean Powell <notifications@github.com>

[2018-07-26 16:32] PowellDean commented on #82
That worked like a charm. Thanks very much. From my perspective, the issue is solved. If you need help with documentation or testing, let me know.

Dean Powell
Edmonton, Canada

[2018-08-07 11:15] cblackuk opened #83 "Get-PCCustomerRelationship is broken via API or PowerShell - code 1002"
# Steps to reproduce

Direcrly via PowerShell:

[code]

Directly via API by creating custom headers:

[code]
## Expected behavior

It should print the relationship but instead it breaks with the code above.

## Actual behavior

See error above

## Environment

[code]

Suffice it to say other commands using the same token return values fine. It appears that this API endpoint is just broken.

I am u

[2018-08-09 15:57] PowellDean opened #84 "Unable to log in with Federated AD Credentials"
When we supply PartnerCenter credentials to the Add-PCAuthentication routine, we continually receive a "401 Unauthorized" error. We have verified we are entering the credentials correctly. Full error message:

[code]

We have an integration sandbox account, and login to this with this module works perfectly. The difference between our sandbox and regular production is that our credentials in produ

[2018-08-11 17:48] isaiahwilliams commented on #84
Hi Dean,

I believe you have discovered one of the limitations with how this module is designed. Recently we published a pre-release version of a new module that will be replacing this one in the coming weeks. Would you mind testing this scenario with https://github.com/Microsoft/Partner-Center-PowerShell and letting me know if you have the same issue?

[2018-08-12 15:11] isaiahwilliams commented on #82
Hi Dean,

I am going to close this issue because we have added logic to prevent this issue from happening with the new version of the module. We would greatly appreciate any feedback and help with documentation that you can offer. You can find the new version of the module at https://github.com/Microsoft/Partner-Center-PowerShell

[2018-08-12 15:11] #82 closed

[2018-08-12 15:14] isaiahwilliams commented on #44
Hi @dennings,

We just published a new pre-release version of a new Partner Center PowerShell module that has support for the German cloud. You can find more details about this version at https://github.com/Microsoft/Partner-Center-PowerShell. If you have an opportunity it would be great to get your feedback on the new module.

Since the new version has support for this feature I will be closing t

[2018-08-12 15:14] #44 closed

[2018-08-12 15:17] isaiahwilliams commented on #83
Hi @cblackuk,

We have been hard at working developing a new version of this module, that leverages the Partner Center .NET SDK. This change in architecture will allow us to avoid these type of errors and provide more capabilities with less overhead. I do not believe that we have added this particular cmdlet to the new version just yet, but I will piroritize it that way you will be able to switch

[2018-08-12 15:34] PowellDean commented on #82
Hi:

Thank you very much. I will test the new module and keep you posted. I will
be happy to help as much as I can.

Regards,
Dean Powell
Edmonton, Canada

On Sun, Aug 12, 2018, 9:11 AM Isaiah Williams <notifications@github.com>
wrote:

[2018-08-13 07:32] cblackuk commented on #83
@isaiahwilliams  Thanks a lot, I do believe that the API itself might be broken not just the cmdlet as I tried directly via API and it is the same :-/

[2018-08-13 14:15] cblackuk commented on #83
@isaiahwilliams I noticed something interesting in the new module -> New-PartnerCustomerAgreement

I read through the md file provided but I still am struggling to understand what this command really is meant to accomplish.

Do you mind explaining that please?

[2018-08-13 14:26] isaiahwilliams commented on #83
Hi @cblackuk, when accessing the customer in Partner Center do you receive an error as well? It is possible that the relationship between this customer and you has been removed. If you do not receive any error when accessing this customer in Partner Center, then I would recommend that you open a support case, so the Microsoft support organization can investigate.

With respect to the new New-Partn

[2018-08-13 14:29] cblackuk commented on #83
Hi @isaiahwilliams  Thanks for getting back to me. No via portal itself I do not get any errors it is only via PShell or API.

As for New-PartnerCustomerAgreement I will take a look at the latter link, the former is what I have read and I still did not get what it is trying to accomplish.

I was hoping it was to automate the reseller request consent on behalf of the customer...

[2018-08-20 21:45] isaiahwilliams commented on #83
Hi @cblackuk we will be releasing an update to the new PowerShell module this week. That update will include a command that you can use to obtain the relationship between a partner and a customer. Since you are receiving this error when you are calling the API directly, I would like to encourage you to open a support ticket through Partner Center. That way the Microsoft organization can investigat

[2018-08-20 21:45] #83 closed

[2018-08-20 21:47] isaiahwilliams commented on #84
Hi @PowellDean I am going to close this issue because of the release of our new Partner Center PowerShell module. If you are experincing the same issue with that module, please open a new issue using the issue tracker associated with that repository.

[2018-08-20 21:47] #84 closed

[2018-08-20 21:52] cblackuk commented on #83
I will test it out on a new module and we shall see how it goes :-) thanks @isaiahwilliams

[2018-08-27 13:26] o-l-a-v opened #86 "Get-PCCustomerUser - Return more than 500 users / paging?"
# Feature Request

I'll start by saying that I really appreciate your work with this module.

**Is your feature request related to a problem? Please describe.**
I'm trying to get all users of a customer of ours, but Get-PCCustomerUser can only return maximum of 500 users. How do I get the rest? I can't specify page, or a bigger size.

**Describe the solution you would like**
I'd like to either:
*

[2018-08-27 13:56] isaiahwilliams commented on #86
Hi Olav,

We have developed a new PowerShell module that leverages the Partner Center .NET SDK. This new module has this functionality and numerous others. You can find more information about this module at https://github.com/Microsoft/Partner-Center-PowerShell

Please let me know if you have any issues with the new module.

[2018-08-27 14:09] o-l-a-v commented on #86
Thanks, I'll have a look tomorrow.

[2018-08-28 06:39] o-l-a-v commented on #86
Got it working, thanks.
So PartnerCenterModule is/ will be deprecated?

[2018-09-07 18:59] #86 closed

[2018-09-25 15:36] Agazoth opened #87 "Get-PCInvoiceLineItem should support OneTime as BillingProvider"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Reserved instances have been added to CSP. These are billed as on time fees and have one_time as BillingProvider. The commandlet does not support this BillingProvider

**Describe the solution you would like**
OneTime should be added as Billing Provider and Invoice Line Items should be extracted

**Describe altern

[2018-09-25 16:12] isaiahwilliams commented on #87
Hi @Agazoth,

Thank you for opening this feature request. This version of the PowerShell has been deprecated and replaced with https://github.com/Microsoft/Partner-Center-PowerShell. The new module has the ability to obtain the invoice line items that you are seeking. You can find more information at https://github.com/Microsoft/Partner-Center-PowerShell/blob/master/docs/help/Get-PartnerInvoiceLin

[2018-09-25 17:30] Agazoth commented on #87
Excellent! Thank you!

[2018-10-30 13:30] #87 closed